[submodule "microsservices/comment-service"]
	path = microsservices/comment-service
	url = git@github.com:t-basilio/comment-service.git
[submodule "microsservices/moderation-service"]
	path = microsservices/moderation-service
	url = git@github.com:t-basilio/moderation-service.git
